/******************************************
*  Author : mcunkelman   
*  Created On : Wed Mar 24 2021
*  File : style.css
*******************************************/

* {
    margin: 0 0 0 0;
    padding: 0;
	box-sizing: border-box;
}
html {
    width: 100%;
}
body {
    background-color: #424f61;
    width: 100%;
    height: 100%;
}
nav {
    width: 100%;
    background-color: #041e42;
    display: inline-block;
}
#logo {
    float: left;
    display: inline-block;
}
#logo img {
    height: 3em;
}
#menu {
    color: white;
    float: right;
}
#menu:hover {
    color: #c0c7d0;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline-block;
}
nav a {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
    font-size: 1.3em;
}
nav a:hover{
    color: white;
}
#links {
    display: inline-flex;
    float: right;
    color: white;
}
#links:hover{
    color: #c0c7d0;
}
#wrapper {
    width: 90%;
    background-color: #C0C7D0;
    color: #041e42;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
}
footer {
    width: 90%;
    min-height: 5em;
    padding: 1em;
    background-color: #041e42;
    color: #C0C7D0;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
p{
    padding-left: 2em;
    padding-right: 2em;
}