/******************************************
*  Author : mcunkelman   
*  Created On : Wed Mar 24 2021
*  File : style.css
*******************************************/


*{
    background-color: #424f61;
    font-family: Arial, Helvetica, sans-serif;
    color: #E0E3E7;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    width: 100%;
    min-height: 100%;
}
nav{
    background-color: #041e42;
    color: #E0E3E7;
    padding: 0.5em;
    height: 4em;
    width: 100%;
    display: inline-block;
}
#logo{
    display: inline;
    margin: 0.5em;
    background-color: inherit;
}
#menu{
    display: inline;
    float: right;
    margin: 0.5em;
    background-color: #041e42;
    color: #e0e3e7;
}
#menu:hover{
    color: #A1ABB8;
}
nav ul{
    list-style-type: none;
    background-color: inherit;
    color: inherit;
}
nav li{
    background-color: inherit;
    color: inherit;
    display: inline;
    width: 10em;
    padding: 0.25em;
    font-size: 1.5em;
    margin-left: 2px;
    margin-right: 2px;
}
nav li:hover{
    color: #e0e3e7;
    border-left: 2px solid #1cbd1a;
    margin-left: 0;
    border-right: 2px solid #1cbd1c;
    margin-right: 0;
}
nav a{
    text-decoration: none;
    background-color: inherit;
    color: inherit;
}
nav i{
    background-color: inherit;
    color: inherit;
}
nav img{
    height: 3em;
    background-color: inherit;
    color: inherit;
}
#wrapper{
    background-color: #c0c7d0;
    color: #041e42;
    width: 100%;
    min-height: 10em;
    padding: 1em;
}
#wrapper h1{
    background-color: #c0c7d0;
    color: #041e42;
}
#wrapper p{
    background-color: #c0c7d0;
    color: #041e42;
}
footer{
    background-color: #041e42;
    color: #E0E3E7;
    padding: 0.5em;
    min-height: 2em;
    width: 100%;
}